// Default

$color-default-black: #000000;
$color-default-white: #ffffff;
$color-transparent: rgba(255, 255, 255, 0);

// Project palette
$color-primary: #ff3f3a;
$color-secondary: #ffcf2d;
$color-success: #03cea4;
$color-danger: #ff4242;
$color-warning: #f89828;
$color-info: #5a87fc;
$color-radical-red: #f52f6e;
$color-medium-slate-blue: #7772f1;
$color-gray-900: #1e212c;
$color-gray-800: #424551;
$color-gray-700: #787a80;
$color-gray-600: #9a9ca5;
$color-gray-500: #b3b7bc;
$color-gray-400: #d7dadd;
$color-gray-300: #e5e8ed;
$color-gray-200: #f4f5f6;
$color-gray-100: #f9f9f9;

// Gradient

$black-to-right: linear-gradient(
  90deg,
  rgba(0, 0, 0, 0.75) 0%,
  rgba(0, 0, 0, 0) 75%
);

// Typography

$fz-default: 16px;
$ff-placeholder: "Placeholder", "Arial", sans-serif;
$font-family: "Lato", "Tahoma", sans-serif;

// Animation

$tf-default: ease;
$trans-default: 0.3s $tf-default;
$trans-modal: 0.6s cubic-bezier(0.55, 0, 0.1, 1);
$trans-600: 0.6s $tf-default;

// Viewports

$vp-320: 320px;
$vp-375: 375px;
$vp-768: 768px;
$vp-1024: 1024px;
$vp-1280: 1280px;
$vp-1440: 1440px;
$vp-1920: 1920px;

// Retina

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
